---
export interface Props {
  date: string;
  title: string;
  description: string;
  image: string;
  url: string;
}

const { date, title, description, image, url } = Astro.props;
---



<article class="flex bg-white transition hover:shadow-xl">
  <div class="rotate-180 p-2 [writing-mode:_vertical-lr]">
    <time
      datetime={date}
      class="flex items-center justify-between gap-4 text-xs font-bold text-gray-900 uppercase"
    >
      <span>{date.split('-')[0]}</span>
      <span class="w-px flex-1 bg-gray-900/10"></span>
      <span>{date.split('-')[1]} {date.split('-')[2]} </span>
    </time>
  </div>

  <div class="hidden sm:block sm:basis-56">
    <img
      alt=""
      src={image}
      class="aspect-square h-full w-full object-cover"
    />
  </div>

  <div class="flex flex-1 flex-col justify-between">
    <div class="border-s border-gray-900/10 p-4 sm:border-l-transparent sm:p-6">
      <a href="#">
        <h3 class="font-bold text-gray-900 uppercase">
          {title}
        </h3>
      </a>

      <p class="mt-2 line-clamp-3 text-sm/relaxed text-gray-700">
        {description}
      </p>
    </div>

    <div class="sm:flex sm:items-end sm:justify-end">
      <a
        href="#"
        class="block bg-yellow-300 px-5 py-3 text-center text-xs font-bold text-gray-900 uppercase transition hover:bg-yellow-400"
      >
        Ver
      </a>
    </div>
  </div>
</article>